@import "styles/palette";
@import "styles/mixins";

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: $white;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;

  &_logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-right: 10px;
    }

    p {
      font-size: 28px;
      color: $greyDark;
    }
  }

  &_input {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 12px;
    background-color: $grey;
    transition: all .3s ease;

    .search_icon {
      fill: $greyDark;
    }

    input {
      background-color: transparent;
      border: none;
      width: 100%;
      font-size: 15px;
      margin-left: 8px;
    }

    &:focus-within {
      background-color: $white;
      box-shadow: $shadowRgba 0px 3px 8px;
    }
  }

  &_apps {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon_wrapper {
      @include icon_wrapper($grey);
    }

    .apps_icon {
      fill: $greyDark;
    }
  }

  &_avatar {
    position: relative;

    &__open {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }
    }

    img {
      margin-left: 8px;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      cursor: pointer;
    }

    .info_pop_up {
      position: absolute;
      z-index: 10;
      transform-origin: right top;
      top: calc(100% + 10px);
      right: 0;
      background-color: $white;
      box-shadow: $shadowRgba 0px 3px 8px;
      display: grid;
      grid-template-rows: 1fr auto;
      justify-items: center;
      border-radius: 6px;

      .sign_out {
        background-color:$red;
        color: $white;
        border-radius: 6px;
        font-size: 18px;
        padding: 6px 12px;
        margin: 15px auto 20px auto;
        cursor: pointer;
        transition: all .3s ease;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $red;
          background-color:$white;
          color: $red;
        }
      }

      &__info {
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid $grey;
        padding: 20px 15px;

        p:first-child {
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
  }
}











