@mixin icon_wrapper($bg) {
  cursor: pointer;
  border-radius: 100%;
  transition: all .3s ease;
  padding: 6px;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;

  &:hover {
    background-color: $bg;
  }
}